body{
	padding-top: 80px;
}
.nav-left{
	float:top;
}
.page-header {
	margin-top: 0;
}
.metadata {
	color: #999;
}
.metadata span {
	margin-right: 1.5em;
	text-transform: capitalize;
}
.writing-item {
	float:left;
	clear:both;
	margin: 25px 50px;
	padding-bottom: 25px;
	border-bottom: 1px solid #EEE;
}
.writing-title a {
	color: black;
}
.writing-cover{
	float:left;
	padding-right:20px;
}
.writing-view .writing-item {
	max-width: 55em;
	margin: 30px auto;
}
.writing-view .writing-item-small{
	margin: 30px auto;
}
.writing-view .writing-title {
	line-height: 60px;
	letter-spacing: -2px;
}
.writing-view .writing-description {
	font-size: 24px;
	margin-bottom: 30px;
	line-height: 30px;
	color: #000;
}
.writing-view .writing-content {
	margin-bottom: 30px;
}
.writings-categories {
	float: right;
	list-style-type: none;
}
.writings-categories li {
	display: inline;
}
.writings-categories a {
	display: block;	
	float: left;
	padding: 12px 0 12px 25px;
}

.comments {
	margin: 0;
	list-style-type: none;
}
.comments .comment {
	padding: 0 0 20px;
}
.comments .metadata {
	margin-bottom: 10px;
}

.user-item{	
	margin: 25px 50px;
	padding-bottom: 25px;
	border-bottom: 1px solid #EEE;
}

.user-item .user-username h4{
	line-height: 60px;
	margin-bottom: 30px;
	letter-spacing: -2px;
}
.user-item .user-username a{
	color:black;
}
.user-item .user-profilethumb{
	float:left;
	padding-right:20px;
	border-radius:15px;
	height: 100px;
}

.user-view .user-data{
	padding-bottom: 35px;
	border-bottom: 1px solid #EEE;
}

.loginform .btn-success {
	width:100px;
	clear:both;
	float:left;
	margin-left:0px;
}
.jumbotron .btn{
	width:200px;
	margin:10px;
}

#delimiter{
	clear:both;
	padding-top:20px;
	border-bottom: 1px solid #EEE;
}

#rightinfo li{
	padding-bottom:5px;
	padding-top:5px;
	list-style-type: none;
}
#rightinfo p{
	padding-left:50px;
	padding-bottom:20px;
	font-style: italic;
	font-size: 12px;
}
#rightinfo a{
	border-right:1px solid #EEE;
	padding-right:20px;
	float:right;
	margin-right:50px;
}
#profile{
	border-bottom: 1px solid #EEE;
}
.profile-nav li{
	font-weight: bold;
	list-style-type: none;
	padding-top:20px;
}

.prijava{
	padding-top: 10px;
}
.prijava a{
	color: #999999;
}
.prijava a:hover{
	color:white;
	text-decoration: none;
}

.homepage .hero-unit{
	text-align: center;
}
.hero-unit{
	background:white;
}
.hero-unit h1{
	padding-bottom: 20px;	
}
.hero-unit a{
	font-weight: bold;

}

.userbooks .actions{
	padding-left:75px;
}
.userbooks .actions a{
	margin-left:5px;
	margin-right:5px;
}

.userbooks .table .btn{
	font-weight: normal;
}


.userwritings .actions{
	padding-left:75px;
}
.userwritings .actions a{
	margin-left:5px;
	margin-right:5px;
}

.userwritings .table .btn{
	font-weight: normal;
}

#title{
	font-size: 15px;
}

.books-index span4{
	float:left;
}
.books-index .writing-item{
	clear:none;
}

.navigation{
	text-transform: capitalize;
}
div.mce-fullscreen{
	padding-top:50px;
}

.table tbody tr td{
	vertical-align: middle;
}
.user-actions{
	margin-top:30px;
}
.user-actions .btn{
	margin-left:5px;
}